* {
  background-color: white;
}
#navbar{

}
#boxofselections{
  height:300px;
  width: 900px;
  background-color: #DCDCDC;
  border: 2px solid black;
}
.boxandbuttons{
  left: 50%;
}
.button{
  display: inline-block;
}
#album1{
  height: 150px;
  width: 150px;
  border: 1px solid black;
  content: url('./21.jpg');
}
#album2{
  height: 150px;
  width: 150px;
  border: 1px solid black;
  content:url('./ghost_in_the_machine.jpg');
}
#album3{
  height: 150px;
  width: 150px;
  border: 1px solid black;
  content:url('./red.jpg');
}
#album4{
  height: 150px;
  width: 150px;
  border: 1px solid black;
  content:url('./the_division_bell.jpg');
}
#album5{
  height: 150px;
  width: 150px;
  border: 1px solid black;
  content:url('./thriller.jpg');
}
